:root {
  --color-text-dark: #211;
  --color-text-muted: #644;
  --color-orange: #e63;
  --color-orange-light: #f84;
  --color-white: #fff;
  --color-footer-link: #f0f0f0;
  --shadow-light: #e633;
  --shadow-muted: #2222;
  --color-warm-brown: #2c1810;
  --color-cream: #fff8f3;
  --color-light-cream: #ffe6d4;
  --color-muted-brown: #6b4f4f;
  --color-dark-orange: #e86a33;
  --color-light-orange: #ff8551;
  --color-white-muted: #ffffff;
}

/* General Styles */
.landing-page {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 100%;
}

.hero-links {
  color: #fff;
  text-decoration: none;
  margin-right: 1rem;
  padding: 0.6rem 1.2rem;
  border: solid 1px #f63;
  border-radius: 0.5rem;
  background-color: #f63;
  font-weight: 600;
}

.hero-links:hover {
  background-color: #f52;
}
